<h1><%= @username %></h1>

<dl>
  <dt>Private</dt>
  <dd><%= @user.private %></dd>

  <dt>Followers</dt>
  <dd><%= @user.received_follow_requests_count %></dd>

  <dt>Following</dt>
  <dd><%= @user.sent_follow_requests_count %></dd>
</dl>

<ul>
  <li>
    <a href="/users/<%= @user.username %>">Profile</a>
  </li>
  <li>
    <a href="/users/<%= @user.username %>/liked_photos">Like photos</a>
  </li>
  <li>
    <a href="/users/<%= @user.username %>/feed">Feed</a>
  </li>
  <li>
    <a href="/users/<%= @user.username %>/discover">Discover</a>
  </li>
</ul>
