<div>
  <div>
    <h1>
      Photo Details
    </h1>


    <dl>

      <dt>
        Image
      </dt>
      <dd>
        <img src="<%= @the_photo.image %>">
      </dd>

      <dt>
        Caption
      </dt>
      <dd>
        <%= @the_photo.caption %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_photo.owner.username %>
      </dd>

      <dt>
        Posted
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.created_at) %> ago
      </dd>

      <dt>
        Likes count
      </dt>
      <dd>
        <%= @the_photo.likes_count %>
      </dd>

      <dt>
        Comments count
      </dt>
      <dd>
        <%= @the_photo.comments_count %>
      </dd>

      <dt>
        Fans
      </dt>
      <dd>
        <%= @the_photo.fans.join(", ") %>
      </dd>
      
      <dt>
        Add a fan
      </dt>
      
      <% if @the_photo.fans.where({ :id => session.fetch(:user_id) }).empty? %>
        <dd>
          <form action="/insert_like" method="post">
          <input type="hidden" value="<%= @the_photo.id %>" name="query_photo_id">
          <input type="hidden" value="<%= session.fetch(:user_id) %>" name="query_user_id">
          <button>Like</button>
          </form>
        </dd>
      <% else %>
        <dd>
          <a href="/delete_like/<%= @the_photo.likes.where({ :fan_id => session.fetch(:user_id) })[0].id %>">Unlike</a>
        </dd>
      <% end %>

      <% if @the_photo.owner.id == session.fetch(:user_id) %>

        <dt>
          Edit photo
        </dt>
        <dd>
          <form action="/modify_photo/<%= @the_photo.id %>" method="post" class="form-horizontal" enctype="multipart/form-data">

            <div>
              <label for="image_box">
                Image URL
              </label>

              <input type="file" id="image_box" name="query_image" class="form-control">
            

              <label for="caption_box">
                Caption
              </label>

              <textarea type="text" id="caption_box" name="query_caption" value="<%= @the_photo.caption %>"></textarea>

              <input type="hidden" id="owner" name="query_owner" value="<%= session.fetch(:user_id) %>">
            
              <button>
                Update photo
              </button>
            </div>
          </form>
        </dd>

        <dt>
          Delete photo
        </dt>
        <dd>
          <a href="/delete_photo/<%= @the_photo.id %>">
          Delete this photo
          </a>
        </dd>
      <% end %>

    </dl>
  </div>
</div>

<div>
  <h2>Comments</h2>
</div>

<div>
  <table border="0">

    <tr>
      <th>Commenter</th>
      <th>Comment</th>
      <th>Posted</th>
    </tr>

    <% @the_photo.comments.each do |each_comment| %>
      <tr>
        <td>
          <%= each_comment.commenter.username %>
        </td>
        <td>
          <%= each_comment.body %>
        </td>
        <td>
          <%= time_ago_in_words(each_comment.created_at) %> ago
        </td>
      </tr>
    <% end %>

  </table>
</div>

<div>
  <h3>Add a new comment</h3>
</div>

<div>
          <form action="/insert_comment" method="post" class="form-horizontal" enctype="multipart/form-data">

            <div>
      
              <label for="comment_box">
                Comment
              </label>

              <textarea type="text" id="comment_box" name="query_body" placeholder="Enter a comment..."></textarea>

              <input type="hidden" id="author" name="query_author_id" value="<%= session.fetch(:user_id) %>">

              <input type="hidden" id="photo" name="query_photo_id" value="<%= @the_photo.id %>">

            
              <button>
                Add comment
              </button>
            </div>
          </form>
</div>
